.cs_info{background: #f1f1f1; font-style: italic; padding: 15px;}
.cs_info i{padding-right: 15px;}
.iz-metabox tr {border-top: 1px solid #EEEEEE;}
.iz-metabox th {width: 35%;}
.iz-metabox label span {font-size: 12px; font-weight: normal;color: #999999;display: block;line-height: 20px;margin: 5px 0 0;}
.iz-metabox input, .iz-metabox textarea {float: left;margin-right: 20px;width: 100%;transition: all 0.2s linear;-moz-transition: all 0.2s linear;-webkit-transition: all 0.2s linear;-o-transition: all 0.2s linear;}
.iz-metabox input[type=checkbox] {width: 20px;}
.iz-metabox input.file {width: 85%;}
.iz-metabox input.button {margin-right: 0;width: auto;}
.iz-metabox input.radio {float: none;margin-right: 3px;width: auto;}
.iz-metabox .radio-label {margin-right: 10px;}
.iz-metabox img {width: 50%;display: block;}
.options-wrap{
	padding: 20px;
	box-sizing: border-box;
}
.options-wrap .element{
	width: 49%;
	display: inline-block;
	margin: 10px 0;
}